*{
	margin:0;
	padding:0;
	text-decoration: none;
	list-style:none;


}
body {
	background-color: gray;
}

	 /*div {
		border: 1px solid red;
	}*/

/* -----BACKGROUND----- */

#paper-texture {
	width: 100%;
	height: 400vh;
	position: absolute;
	left: 0px;
	top: -800px;
	opacity: 0.1;
	background-size: cover;

	z-index: -1;
}

#background{
	width: 100%;
  height: 400vh;
  position: absolute;
  left: 0px;
  top: 0px;
	background-size: cover;

  z-index: -2;
}

.stretch {
    width:100%;
    height:100%;
}

/* --------- MENU STUFF -------- */

.menu_button {
	position:fixed;
	padding: 100vh 30px;
	color: white;
	cursor: pointer;
	background-color: #343435;
/* 	z-index: 10000; */
	font-size: 2em;
	opacity: 0;

}

.toggle_menu{
	position:fixed;
	padding: 15px 15px;
	margin: 5px;
	color: white;
	cursor: pointer;
	background-color: #556175;
	border-radius: 10px;
	z-index: 100000;
	font-size: 2em;
	opacity: 0;
	-webkit-box-shadow: 0px 6px 0px 0px rgba(121,138,166,0.96);
	-moz-box-shadow: 0px 6px 0px 0px rgba(121,138,166,0.96);
	box-shadow: 0px 6px 0px 0px rgba(121,138,166,0.96);

}

.toggle_menu:hover {
	background-color: #6393e2;
	-webkit-box-shadow: 0px 6px 0px 0px #30cb8e;
	-moz-box-shadow: 0px 6px 0px 0px #92bbfe;
	box-shadow: 0px 6px 0px 0px #92bbfe;



}

.toggle_menu:active {
	transform: translateY(6px);
	background-color: #69eb1a;
	color: yellow;
	-webkit-box-shadow: 0px 0px 0px 0px #6494e2;
	-moz-box-shadow: 0px 0px 0px 0px #92bbfe;
	box-shadow: 0px 0px 0px 0px #92bbfe;
	transition: all .3s;
}

.fa-times {
	right: 10px;
	top: 10px;
	opacity: 0.7;
	cursor: pointer;
	position: absolute;
	color: white;
	transition: all 0.3s ease-in-out;

}
.fa-times:hover{
	opacity: 1;
	color: orange;
}


.sidebar_menu{
	position: fixed;
	width: 250px;
	margin-left:0px;
	overflow: hidden;
	height: 100vh;
	max-height: 100vh;
	background-color: rgba(17, 17, 17, 0.9);
	opacity: 0.9;
	/*transition: all 0.3s ease-in-out;*/
	text-align:center;
}

.boxed_item{
	font-family: 'Open Sans';
	font-weight: 200;
	padding: 10px 20px;
	display: inline-block;
	border: solid 2px white;
	box-sizing: border-box;
	font-size: 22px;
	color: white;
	text-align: center;
	margin-top: 70px;

}

.bold {
	font-weight: 800;
}

.logo_title {
	color:white;
	font-family: "Open Sans";
	font-weight: 200;
	font-size: 12px;
	text-align: center;
	padding: 5px 0px;
}

.nav {
	margin: 20px 0;
	display: block;
	width: 200px;
	margin-left: 25px;
	text-align: left;
}

.nav-item {
	font-weight: 200;
	font-family: 'Open Sans';
	color: white;
	padding: 12px 0;
	box-sizing: border-box;
	font-size: 14px;
	color: #D8D8D8;
	border-bottom: solid 1px #D8D8D8;
	transition: all 0.2s ease-in-out;
}

.nav-item a{
	text-decoration: none;
	color: white;
}

.nav-item a:hover{
	font-weight: bold;
	color: orange;
}

.hide_menu {
	margin-left: -250px;
	transition: all 0.2s ease-in-out;
}

.opacity_one{
	opacity: 1;
	transition: all 0.2s ease-in-out;
}

/* ------------BODY STUFF --------- */

.body-margin{
	margin-left: 256px;
	transition: all 0.2s ease-in-out;
}

.content {

	padding-top: 50px;
	text-align:center;
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: bold;
	transition: all 0.2s ease-in-out;

}

.padding {
	margin-bottom: 50px;

}

.header {
	text-align: left;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	border: solid 1px black;
	border-top: 15px solid black;
	box-sizing: border-box;
	border-radius: 5px 5px 0px 0px;
	width: 80%;
	opacity: 0.9;
	background-color: rgba(17, 17, 17, 0.3);

}

#about {
	height: 100vh;

}

.inner_content {
	margin: auto;
	width: 80%;
	max-height: about;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;


}

.inner_content img {
	width: 200px;
	margin: 0px 20px;
}

#my_links {
	font-weight: 100;
	font-size: 19px;
	width: 78%;
	margin: 20px auto;
	text-align: right;
	padding: 3px 10px;
	text-decoration: none;
	color: #0b3f6b;
	background-color: rgba(242, 242, 242, 0.8);
	border-radius: 0px 0px 5px 5px;
}

#my_links a{

	padding-right: 30px;
	color: #0b406b;

}

#my_links a:hover{
	text-decoration: underline;
	color: #f0a23c;
}

#my_links a:visited {
	color: #0b406b;
}


#projects .columns {
	margin: auto;
	width: 80%;
	height:auto;
	text-align: left;

}


.project-image img {
  width: 200px;
	padding: 20px 0px;
}

.col-3 {
	display: flex;
	padding: 10px;
	margin-bottom: 15px;
	font-weight: 400;
		/*width: 80%;*/

	background-color: rgba(242, 242, 242, 0.4);
	border: 2px solid rgba(220,220,220, 1);
	border-radius: 7px;
	-webkit-box-shadow: inset 0px 0px 16px 0px rgba(220,220,220,0.83);
	-moz-box-shadow: inset 0px 0px 16px 0px rgba(220,220,220,0.83);
	box-shadow: inset 0px 0px 16px 0px rgba(220,220,220,0.83);
}

.right{
	margin-top: 15px;
	margin-left: 25px;
}


#contact {
	height: 80vh;
}

.viewing{
	color: #f79b10;
	font-weight: bold;
	font-size: 16px;
}

#floater_one {
	position: absolute;

	margin-left:10%;
	top: 101vh;
}

#floater_one img {
	height: 100px;
}

/*-------- Responsice ---------*/
@media screen and (max-width: 960px) {
	body {
		overflow-x:hidden;
		width:100%;
		position:relative;
		top:0vh;
		height:53vh;
	}


	#paper-texture {
		width: 100%;
		height: 400vh;
		position: absolute;
		left: 0px;
		top: -800px;
		opacity: 0.1;
		background-size: cover;

		z-index: -1;
	}

	#background{
		width: 100%;
		height: 400vh;
	  position: absolute;
	  left: 0px;
	  top: 0px;
		background-size: cover;

	  z-index: -2;
	}

	.menu_button {
		position: relative;
		padding:0;
		color: white;
		cursor: pointer;
		opacity: 0;
	/* 	z-index: 10000; */
		font-size: 2em;
		opacity: 0;
		transition: all .5s ease-in-out;
	}
	.toggle_menu{

		position:fixed;
		padding: 10px 20px;
		margin: 5px 5px;
		color: white;
		cursor: pointer;
		background-color: #556175;
		border-radius: 10px;
		z-index: 100000;
		font-size: 2em;

		-webkit-box-shadow: 0px 6px 0px 0px rgba(121,138,166,0.5);
		-moz-box-shadow: 0px 6px 0px 0px rgba(121,138,166,0.5);
		box-shadow: 0px 6px 0px 0px rgba(121,138,166,0.5);
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		transition: all .2s ease-in-out;

	}


	.content {
		text-align:center;
		font-family: 'Open Sans';
		font-size: 18px;
		font-weight:normal;
		overflow-x: hidden;
		transition: all .2s ease-in-out;
	}

	.header {
		text-align: center;
		margin-bottom: 20px;
		padding: 10px 30px;
		border: solid 1px black;
		border-top: 15px solid black;
		border-radius: 0px;
		box-sizing: border-box;
		width: 100%;
		opacity: 0.9;
		background-color: rgba(17, 17, 17, 0.3);

	}

	#about {
		max-height: 1000px;
		overflow:hidden;
	}

	.link_copy {
		display: none;
	}


	.inner_content {
		margin: auto;
		padding: 0 10px 5px;
		width: 98%;
		max-height: 800px;
		max-height: inherit;
		display: block;
		overflow:hidden;
	}

	.inner_content img {
		width: 150px;
		margin: 0px auto 5px auto;
	}

	#my_links {
		font-weight: 100;
		font-size: 19px;
		width: 98%;

		margin: 0px auto;
		text-align: center;
		padding: 0px 10px;
		text-decoration: none;
		color: #0b3f6b;
		background-color: rgba(242, 242, 242, 0.8);
		border-radius: 0px 0px 0px 0px;
	}


	#projects .columns {
		margin: auto;
		width: 100%;
		height:auto;
		text-align: cetner;

	}


	.project-image img {
		margin: auto;
	  width: 200px;
		padding: 20px 0px;
	}

	.col-3 {
		display: block;
		padding: 5px;
		margin-bottom: 15px;
		font-weight: 200;
		max-width: 100%;
		text-align: center;

		background-color: rgba(242, 242, 242, 0.4);
		border: 2px solid rgba(220,220,220, 1);
		border-radius: 0px;
		-webkit-box-shadow: inset 0px 0px 16px 0px rgba(220,220,220,0.83);
		-moz-box-shadow: inset 0px 0px 16px 0px rgba(220,220,220,0.83);
		box-shadow: inset 0px 0px 16px 0px rgba(220,220,220,0.83);
	}

	.right{
		margin-top: 15px;
		margin-left: 0px;
	}



 }
