*{
	margin:0;
	padding:0;
	text-decoration: none;
	list-style:none;


}
body {
	background-color: black;
	/*font-family: 'Oxygen', sans-serif;*/
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Roboto', sans-serif;


}

hr {
	border: 0;
	width: 90%;
	color: black;
	background-color: black;
	height: 2px;
}
	/*
		 div {
			border: 1px solid red;
		}*/

/* -----BACKGROUND----- */


#background{
	width: 100%;
  height: 400vh;
  position: absolute;
  left: 0px;
  top: 0px;
	background-size: cover;

  z-index: -2;
}

.stretch {
    width:100%;
    height:100%;
}

/* --------- MENU STUFF -------- */

.menu_button {
	position:fixed;
	padding: 100vh 30px;
	color: white;
	cursor: pointer;
	background-color: #343435;
/* 	z-index: 10000; */
	font-size: 2em;
	opacity: 0;

}

.toggle_menu{
	position:fixed;
	padding: 15px 15px;
	margin: 5px;
	color: white;
	cursor: pointer;
	background-color: #556175;
	border-radius: 10px;
	z-index: 100000;
	font-size: 2em;
	opacity: 0;
	-webkit-box-shadow: 0px 6px 0px 0px rgba(121,138,166,0.96);
	-moz-box-shadow: 0px 6px 0px 0px rgba(121,138,166,0.96);
	box-shadow: 0px 6px 0px 0px rgba(121,138,166,0.96);

}

.toggle_menu:hover {
	background-color: #6393e2;
	-webkit-box-shadow: 0px 6px 0px 0px #30cb8e;
	-moz-box-shadow: 0px 6px 0px 0px #92bbfe;
	box-shadow: 0px 6px 0px 0px #92bbfe;



}

.toggle_menu:active {
	transform: translateY(6px);
	background-color: #69eb1a;
	color: yellow;
	-webkit-box-shadow: 0px 0px 0px 0px #6494e2;
	-moz-box-shadow: 0px 0px 0px 0px #92bbfe;
	box-shadow: 0px 0px 0px 0px #92bbfe;
	transition: all .3s;
}

.fa-times {
	right: 10px;
	top: 10px;
	opacity: 0.7;
	cursor: pointer;
	position: absolute;
	color: white;
	transition: all 0.3s ease-in-out;

}
.fa-times:hover{
	opacity: 1;
	color: orange;
}


.sidebar_menu{
	position: fixed;
	width: 250px;
	margin-left:0px;
	overflow: hidden;
	height: 100vh;
	max-height: 100vh;
	background-color: rgba(17, 17, 17, 0.9);
	opacity: 0.9;
	transition: all 0.5s ease-in-out;
	text-align:center;
}

.boxed_item{
	padding: 10px 20px;
	display: inline-block;
	border: solid 2px white;
	box-sizing: border-box;
	font-size: 22px;
	color: white;
	text-align: center;
	margin-top: 70px;

}

.bold {
	font-weight: 800;
}

.logo_title {
	color:white;
	font-family: "Open Sans";
	font-weight: 200;
	font-size: 12px;
	text-align: center;
	padding: 5px 0px;
}

.nav {
	margin: 20px 0;
	display: block;
	width: 200px;
	margin-left: 25px;
	text-align: left;
}

.nav-item {
	font-weight: 200;
	color: white;
	padding: 12px 0;
	box-sizing: border-box;
	font-size: 14px;
	color: #D8D8D8;
	border-bottom: solid 1px #D8D8D8;
	transition: all 0.5s ease-in-out;
}

.nav-item a{
	text-decoration: none;
	color: white;
}

.nav-item a:hover{
	font-weight: bold;
	color: orange;
}

.hide_menu {
	margin-left: -250px;
	transition: all 0.5s ease-in-out;
}

.opacity_one{
	opacity: 1;
	transition: all 0.5s ease-in-out;
}

/* ------------BODY STUFF --------- */


.content {
	padding-top: 50px;
	margin-left: 50px;
	text-align:center;
	font-size: 20px;
	transition: all 0.5s ease-in-out;

}

.center-this {
	width: 80%;
	margin: auto;
}


.header {
	text-align: left;
	margin: auto;
	width: 100%;
	padding: 10px 30px;
	border: solid 2px black;
	border-top: 15px solid black;
	box-sizing: border-box;
	border-radius: 5px 5px 0px 0px;

	opacity: 0.9;
	background-color: rgba(17, 17, 17, 0.3);

}
/*---------- ABOUT */
.a_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: auto;

}

#about {
	height:100vh;

}

.inner_content {
	font-size: 0.8em;
	/*font-weight: 300;*/
	border: 2px solid black;
	border-top: 0;
	border-bottom: 0;
	background: rgba(255, 255,220, 0.2);
	margin: auto;
	height: auto;
	padding: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 1;

	transition: all 0.5s ease-in-out;

}

.inner_content img {
	width: 200px;
	margin: 10px 20px;

}

.left {

}

.center {
	text-align: left;
	flex-grow: 1;
	width: 90%;
	margin: auto;

}

.right {
	order: -1;
}

#my_links {
	font-weight: 100;
	font-size: 19px;
	border: 2px solid black;
	margin: auto;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 3px 10px;
	text-decoration: none;
	color: #0b3f6b;
	background-color: rgba(242, 242, 242, 0.8);
	border-radius: 0px 0px 5px 5px;
}

#my_links a{

	padding-right: 20px;
	color: #0b406b;

}

#my_links a:hover{
	text-decoration: underline;
	color: #f0a23c;
}

#my_links a:visited {
	color: #0b406b;
}
/*--------------- PROJECTS*/
#projects {
	height: 150vh;
}
.b_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	justify-content: center;
	flex-direction: column;
	flex: 1;
	height: auto;

}


.project-image img {
  width: 200px;
	padding: 20px 0px;
}

.col-3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin: 15px auto;
	/*font-weight: 400;*/
	background-color: rgba(242, 242, 242, 0.4);
	border: 2px solid rgba(220,220,220, 1);
	border-radius: 7px;
	-webkit-box-shadow: inset 0px 0px 16px 0px rgba(220,220,220,0.83);
	-moz-box-shadow: inset 0px 0px 16px 0px rgba(220,220,220,0.83);
	box-shadow: inset 0px 0px 16px 0px rgba(220,220,220,0.83);
}

.left {
	order: -1;
	text-align: left;
	font-size: 0.8em;

}

.right{
	text-align: left;
	flex-grow: 1;
	margin-top: 15px;
	margin-left: 25px;
}

.project {
	font-size: 0.8em;

}

.project_title {
	display: block;
	text-align: left;
	font-weight: bolder;
	text-transform: uppercase;

}

.project_detal {

	font-size: 0.8em;

}

/*--------- CONTACT*/
.c_box {

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;


	padding:0;
}

#contact {
		width: 100%;
}

.contact_inner_content {
	border: 2px solid black;
	border-top: 0;
	border-bottom: 0;
	background: rgba(255, 255,220, 0.2);
	margin: auto;
	padding: 10px;

	height: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 1;
	transition: all 0.5s ease-in-out;

}

.contact_inner_content img {
	width: 200px;
	margin: 0px 20px;

}

.contact_left {

}

.contact_center {
	text-align: center;
	flex-grow: 1;

}

.contact_right {
	/*order: -1;*/
}


.contact_footer {
	/*font-weight: 100;*/
	font-size: 19px;
	border: 2px solid black;
	margin: auto;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 3px 10px;
	text-decoration: none;
	color: #0b3f6b;
	background-color: rgba(242, 242, 242, 0.8);
	border-radius: 0px 0px 5px 5px;
}

/*
---------- MISC*/

.viewing{

	color: #f79b10;
	text-shadow: 0 0 5px #f79b10;
	font-weight: bolder;
	font-size: 18px;
	opacity: 0.9;
}



.body-margin{
	margin-left: 256px;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
}

/*-------- Responsice ---------*/



@media screen and (max-width: 900px) {
	body {
		overflow-x:hidden;
		width:100%;
		position:relative;
		top:0vh;
		height:53vh;
	}

	#background {
		height: 850vh;
	}


	.center-this {
		width: 100%;
		margin: auto;
	}

	.menu_button {
		position: relative;
		padding:0;
		color: white;
		cursor: pointer;
		opacity: 0;
	/* 	z-index: 10000; */
		font-size: 2em;
		opacity: 0;
		transition: all .5s ease-in-out;
	}
	.toggle_menu{

		position:fixed;
		padding: 10px 20px;
		margin: 5px 5px;
		color: white;
		cursor: pointer;
		background-color: #556175;
		border-radius: 10px;
		z-index: 100000;
		font-size: 2em;

		-webkit-box-shadow: 0px 6px 0px 0px rgba(121,138,166,0.5);
		-moz-box-shadow: 0px 6px 0px 0px rgba(121,138,166,0.5);
		box-shadow: 0px 6px 0px 0px rgba(121,138,166,0.5);
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		transition: all .5s ease-in-out;

	}


	.content {
		margin: 0;
		width: 100%;
		text-align:center;
		font-size: 18px;
		overflow-x: hidden;
		transition: all .5s ease-in-out;
	}

	.body-margin{
		margin-left: 256px;
		transition: all 0.5s ease-in-out;
	}

	.header {
		text-align: center;
		padding: 10px 30px;
		border: solid 1px black;
		border-top: 15px solid black;
		border-radius: 0px;
		box-sizing: border-box;
		width: 100%;
		opacity: 0.9;
		background-color: rgba(17, 17, 17, 0.3);

	}

	.a_box {
		margin:auto;
		height: auto;
		margin-bottom: 10em;
	}

	#about {

		height: auto;
		margin:auto;
		margin-bottom: 10em;

	}


	.link_copy {
		display: none;
	}


	.inner_content {
		border: 0px;
		margin: auto;
		padding: 20px;

		max-height: 800px;
		/*font-weight: 400;*/
		display: block;

		transition: all 0.5s ease-in-out;
	}

	.inner_content img {
		object-fit: cover;

		width: 60%;
		height: auto;
		margin: 0px auto 25px auto;
		overflow: hidden;
	}

	#my_links {
		font-weight: 100;
		font-size: 19px;
		width: 100%;

		margin: 0px auto;
		text-align: center;
		padding: 0px 10px;
		text-decoration: none;
		color: #0b3f6b;
		background-color: rgba(242, 242, 242, 0.8);
		border-radius: 0px 0px 0px 0px;
	}
	#projects {
		margin: 10em 0em;
		height: auto;
	}
/*---------- PROJECTS*/
	#projects .columns {
		width: 100%;
		margin-top: 2em;
		height:auto;
		text-align: cetner;

	}


	.project-image img {
		margin: auto;
	  width: 70%;
		padding: 20px 0px;
	}

	.col-3 {
		display: block;
		padding: 5px;
		margin-bottom: 15px;
		font-weight: 200;
		max-width: 100%;
		text-align: center;

		background-color: rgba(242, 242, 242, 0.4);
		border: 2px solid rgba(220,220,220, 1);
		border-radius: 0px;
		-webkit-box-shadow: inset 0px 0px 16px 0px rgba(220,220,220,0.83);
		-moz-box-shadow: inset 0px 0px 16px 0px rgba(220,220,220,0.83);
		box-shadow: inset 0px 0px 16px 0px rgba(220,220,220,0.83);
	}

	hr {
		width: 100%;
		margin: 10px 25px 10px 0px;
	}

	.right{
		padding-left: 1.5em;
		text-align: left;
		margin-top: 15px;
		margin-left: 0px;
		margin-right: 25px;
	}
	.left {
		order: -1;
		text-align: center;
	}

	.project {
		width: 100%;
		margin: auto;
		padding-bottom: 1em;
		font-size: 0.9em;
		text-align: left;
		font-weight: 400;
	}

	.tech {
		margin: auto;
		/*width: 90%;*/

		padding-left: 1.8em;
		text-align: left;
		font-weight: bolder;
	}

	.project_title {
		display: block;

		font-weight: bolder;
		font-size: 1.2em;
		text-transform: uppercase;
	}

	.project_detal {

		font-size: 1em;
		font-weight: 300;

	/*---------- Contacts*/

	#contact {
			margin-bottom: 0px;
	}

	.contact_inner_content {
		flex-direction: column;
		height: 150px;
	}







 }
