.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
    url(../img/jr-korpa-k9TDpGMDavs-unsplash.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 90%, 0 70%);
    clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 90%, 0 70%);

    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
}


.header-menu {

    &__list-items {
        font-size: 2.2rem;
        font-weight: 500;
        color: $color-white;
        transition: all .2s;

        padding: 1rem 2rem;

        &:not(:last-child) {
            border-right: 2px solid $color-grey-light-2;
        }


    }

    &__link {
        &:link,
        &:visited {
            text-transform: uppercase;
            text-decoration: none;
            color: $color-grey-light-1;
            display: inline-block;
        }
        transition: all .3s;

        &:hover {
            color: $color-white;
            transform: translateY(-0.8rem);

        }

        &:active {
            transform: translateY(0.1rem);
            color: $color-primary-dark-2;

        }

    }
}

.header-tech {
    margin-top: 2rem;
    text-transform: uppercase;
    color: $color-white;
    position: relative;
    width: 65%;
    display: inline-block;
    border-top: 2px dotted $color-grey-light-2;
    font-size: 1.6rem;

    &__primary {
        padding-top: 2rem;
    }

    &__list {
        list-style: none;
        display: inline-block;
        width: 100%;
    } 

    &__list-item {
        display: inline-block;
        padding: 0 1rem;
    }
}